<div class="container-md">
  <h1 class="mt-4 mb-4 bg-opacity-8 border rounded text-center">Perfil de
    Usuario</h1>
  <div
    class="d-flex justify-content-start bg-opacity-8 border rounded pt-1 pb-1 mb-4"
  >
    <button id="home" class="btn btn-outline-secondary mx-2">Home</button>
  </div>
  <div class="mt-4 pt-3 mb-4 bg-opacity-8 border rounded text-center">
    <h3>Bienvenido {{user.name}}</h3>
    <p><strong>Nombre: </strong>{{user.name}}</p>
    <p><strong>Email: </strong> {{user.email}}</p>
    <p><strong>Edad: </strong>: </strong>{{user.age}}</p>
    <div class="d-flex justify-content-center">
      <p class="my-auto"><strong>Rol: </strong>{{user.role}}</p>
      <button
        id="changeRole"
        data-user-id="{{user.id}}"
        data-user-rol="{{user.role}}"
        class="btn btn-outline-secondary mx-3"
      >Modificar Rol</button>
    </div>
    <p> <strong>IdCart: </strong> {{user.cart}} </p>
    <button id="logout" class="btn btn-outline-secondary mb-3">
      Cerrar sesión</button>
  </div>
</div>
<script src="/js/profile.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>