<div>
    {{#each products}}
        <h1>{{this.title}}</h1>
        <p>Descripcion: {{this.description}}</p>
        <p>Categoria: {{this.category}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Precio: {{this.price}}</p>
    {{/each}}
</div>